body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 98vh;
  height: 98vh;
}

.gameboard{
  background-color: black;
  height: 50%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.cell{
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.info{
  font-size: 22px;
}